<div class="user-info">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                {{titleUserInfo}}
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field appearance="fill">
                <mat-label>Name</mat-label>
                <input matInput [formControl]="name" required>
                <mat-error *ngIf="name.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <button mat-flat-button color="primary" (click)="onClick()">Submit</button>
        </mat-card-content>
    </mat-card>
</div>  